{% extends "layout.html" %}
{% block content %}

  <figure class="aside">
      <div class="module">
        <header>
          <h4>Helpful Tips</h4>
        </header>
        <ul>
          <li>Double check to make sure your start date is before your end date!</li>
          <li>share this tool with your friends to schedule group meetups with ease!</li>
        </ul>
      </div>
    </figure>
       


   <form action="/search_events" method="POST" id="searchApptsForm">
<div>
<section id="calendar">
<div><label>First, please select the calendar you would like to search:</label></div>

<div>
<select name="calendarlist"  value="choose a calendar" class="select-block span5">
{% for calendar in calendar_list %}
<option value="{{ calendar['id'] }} {{ calendar['timeZone'] }}">{{ calendar['summary'] }}</option>
{% endfor %}

</select>

</div></section>

<section>
<div>

<label>Then, give me some criteria to search by:</label>
</div>
<div>
<label>Date Range</label>
<input id="apptStartDate" name="apptStartDate" type="date"></input>
to
<input id="apptEndDate" name="apptEndDate" type="date"></input>
</div><div>
<label>Time Range</label>
<input id="apptStartTime" name="apptStartTime" type="time"></input>

<label> to</label>
<input id="apptEndTime" name="apptEndTime" type="time"></input>
</div>
<button id="submitApptSearch" type="submit">Find Time</button>


</section>    
</div>

</form>
   
        <form align="right" action="/logout"><input class="btn" type="submit" value="Log me out."></form>
    
{% endblock %}
